pkgbase = wayland-protocols-syncobj-git
	pkgdesc = Wayland protocols that add functionalities not available in the core protocol
	pkgver = 1.32.r18.gc4f5598
	pkgrel = 1
	url = https://wayland.freedesktop.org/
	arch = any
	license = MIT
	makedepends = git
	makedepends = wayland
	makedepends = meson
	makedepends = ninja
	provides = wayland-protocols
	provides = wayland-protocols-git
	conflicts = wayland-protocols
	conflicts = wayland-protocols-git
	source = git+https://gitlab.freedesktop.org/wayland/wayland-protocols.git
	source = 90.patch::https://gitlab.freedesktop.org/wayland/wayland-protocols/-/merge_requests/90.patch
	sha1sums = SKIP
	sha1sums = SKIP

pkgname = wayland-protocols-syncobj-git
