pkgbase = libxkbcommon-slapjd-git
	pkgdesc = Keymap handling library for toolkits and window systems
	pkgver = 1.7.0_r2275.g4052a645
	pkgrel = 1
	url = https://xkbcommon.org/
	arch = x86_64
	license = custom
	checkdepends = libgl
	checkdepends = xorg-server-xvfb
	makedepends = git
	makedepends = libxcb
	makedepends = libxml2
	makedepends = meson
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = xkeyboard-config
	makedepends = xorgproto
	source = git+https://github.com/xkbcommon/libxkbcommon.git
	source = colemak-mod.patch
	sha256sums = SKIP
	sha256sums = 133161b0a60ecaa17ff047e587673f70f4c1877ba48cfe93d632497bb587e543

pkgname = libxkbcommon-slapjd-git
	depends = libxml2
	depends = xkeyboard-config
	optdepends = libxkbcommon-x11: xkbcli interactive-x11
	optdepends = wayland: xkbcli interactive-wayland
	provides = libxkbcommon
	provides = libxkbcommon.so
	provides = libxkbregistry.so
	conflicts = libxkbcommon

pkgname = libxkbcommon-x11-slapjd-git
	pkgdesc = Keyboard handling library using XKB data for X11 XCB clients
	depends = libxcb
	depends = libxkbcommon-slapjd-git
	depends = libxkbcommon.so
	provides = libxkbcommon-x11
	provides = libxkbcommon-x11.so
	conflicts = libxkbcommon-x11
