pkgbase = libx11-slapjd-git
	pkgdesc = Core X11 protocol client library
	pkgver = 1.8.8.r1.g9afd55ad
	pkgrel = 1
	url = https://www.x.org/wiki/
	arch = i686
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = xorg-util-macros
	makedepends = xtrans
	depends = glibc
	depends = libxcb
	depends = xorgproto
	provides = libx11=1.8.8.r1.g9afd55ad
	provides = libx11-git=1.8.8.r1.g9afd55ad
	conflicts = libx11
	conflicts = libx11-git
	options = staticlibs
	source = git+https://gitlab.freedesktop.org/xorg/lib/libx11.git
	source = colemak-mod.patch
	sha256sums = SKIP
	sha256sums = 7219a9100e6178eaa0daf13983e78875bb19033429a65d8dcd0b8292e2fc73fc

pkgname = libx11-slapjd-git
