pkgbase = lib32-libxkbcommon-slapjd-git
	pkgdesc = Keymap handling library for toolkits and window systems (32-bit)
	pkgver = 1.6.0_r2264.g346d6871
	pkgrel = 1
	url = https://xkbcommon.org/
	arch = x86_64
	license = custom
	checkdepends = libgl
	checkdepends = xorg-server-xvfb
	makedepends = git
	makedepends = lib32-libxcb
	makedepends = lib32-libxml2
	makedepends = lib32-wayland
	makedepends = meson
	makedepends = wayland-protocols
	makedepends = xkeyboard-config
	makedepends = xorgproto
	options = debug
	source = git+https://github.com/xkbcommon/libxkbcommon
	source = colemak-mod.patch
	sha256sums = SKIP
	sha256sums = 68943e027895be387aa9926b46e0f1aa5abe7f96c1f836c71277e964711c1cd1

pkgname = lib32-libxkbcommon-slapjd-git
	depends = lib32-libxml2
	depends = xkeyboard-config
	depends = libxkbcommon-slapjd-git
	provides = lib32-libxkbcommon
	provides = libxkbcommon.so
	provides = libxkbregistry.so
	conflicts = lib32-libxkbcommon

pkgname = lib32-libxkbcommon-x11-slapjd-git
	pkgdesc = Keyboard handling library using XKB data for X11 XCB clients (32-bit)
	depends = lib32-libxcb
	depends = lib32-libxkbcommon-slapjd-git
	depends = libxkbcommon.so
	depends = libxkbcommon-x11-slapjd-git
	provides = lib32-libxkbcommon-x11
	provides = libxkbcommon-x11.so
	conflicts = lib32-libxkbcommon-x11
